root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_size = unset

[*.snap]
trim_trailing_whitespace = false

[/lambdas/backend-client/src/types/generated/models/*]
trim_trailing_whitespace = unset

[{*.min.js,*.min.css}]
insert_final_newline = false

[*.py]
indent_size = 4

[{Dockerfile,Dockerfile.}*]
indent_size = 4

[{Makefile,*.mk,go.mod,go.sum,*.go,.gitmodules}]
indent_style = tab

[frontend/src/__tests__/utils/markdownit/fixtures/index.ts]
trim_trailing_whitespace = false

[tests/test-team/fixtures/letters/docx]
insert_final_newline = false
