.file-upload {
  height: auto;
  width: auto;

  // The default file upload button in Safari does not
  // support setting a custom font-size. Set `-webkit-appearance`
  // to `button` to drop out of the native appearance so the
  // font-size is set to 19px
  // https://bugs.webkit.org/show_bug.cgi?id=224746
  &::-webkit-file-upload-button {
    -webkit-appearance: button;
    color: inherit;
    font: inherit;
  }
}
