@use 'nhsuk-frontend/dist/nhsuk';

body {
  // This is here because amplify applies a min height which overwrites nhsuk causing a white space
  min-height: auto !important;
}

code {
  display: inline-block;
  padding: 0.6rem;
  background-color: var(--nhsuk-border-color);
}

pre {
  margin-bottom: 1.5rem;
  white-space: pre-wrap;
}

.nhsuk-details__text > code:last-child {
  margin-bottom: 0;
}

.notify-confirmation-panel {
  color: var(--color_nhsuk-white);
  background-color: var(--color_nhsuk-green);
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
}

.inline-form {
  display: inline;
}

.nhsuk-header__service-logo:has(svg):not(:focus):hover::before {
  content: none;
  border: none; // remove the pseudo underline on the logo
}

