@import 'nhsuk-frontend/packages/nhsuk.scss';

html {
  // This is here because Amplify applies it's own font family
  font-family: Frutiger W01,Arial,Sans-serif !important;
}

body {
  // This is here because amplify applies a min height which overwrites nhsuk causing a white space
  min-height: auto !important;
}

code {
  display: inline-block;
  padding: 0.6rem;
  background-color: $nhsuk-border-color;
}

.notify-confirmation-panel {
  color: #ffffff;
  background-color: #007f3b;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2rem;
}
