@use 'nhsuk-frontend/packages/nhsuk.scss' as nhsuk;

body {
  // This is here because amplify applies a min height which overwrites nhsuk causing a white space
  min-height: auto !important;
}

code {
  display: inline-block;
  padding: 0.6rem;
  background-color: nhsuk.$nhsuk-border-color;
}

.notify-confirmation-panel {
  color: #ffffff;
  background-color: #007f3b;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
}

.inline-form {
  display: inline;
}
