@use 'nhsuk-frontend/dist/nhsuk';

// CCM-9916 - Override @font-face rules from nhsuk-frontend to reference self-hosted fonts
@font-face {
  font-display: swap;
  font-family: Frutiger W01;
  font-style: normal;
  font-weight: 400;
  src: url(/templates/lib/assets/fonts/FrutigerLTW01-55Roman.eot);
  src:
    url(/templates/lib/assets/fonts/FrutigerLTW01-55Roman.eot) format('eot'),
    url(/templates/lib/assets/fonts/FrutigerLTW01-55Roman.woff2) format('woff2'),
    url(/templates/lib/assets/fonts/FrutigerLTW01-55Roman.woff) format('woff'),
    url(/templates/lib/assets/fonts/FrutigerLTW01-55Roman.ttf)
      format('truetype'),
    url(/templates/lib/assets/fonts/FrutigerLTW01-55Roman.svg) format('svg');
}

@font-face {
  font-display: swap;
  font-family: Frutiger W01;
  font-style: normal;
  font-weight: 600;
  src: url(/templates/lib/assets/fonts/FrutigerLTW01-65Bold.eot);
  src:
    url(/templates/lib/assets/fonts/FrutigerLTW01-65Bold.eot) format('eot'),
    url(/templates/lib/assets/fonts/FrutigerLTW01-65Bold.woff2) format('woff2'),
    url(/templates/lib/assets/fonts/FrutigerLTW01-65Bold.woff) format('woff'),
    url(/templates/lib/assets/fonts/FrutigerLTW01-65Bold.ttf) format('truetype'),
    url(/templates/lib/assets/fonts/FrutigerLTW01-65Bold.svg) format('svg');
}

body {
  // This is here because amplify applies a min height which overwrites nhsuk causing a white space
  min-height: auto !important;

  a.nhsuk-body-m {
    color: nhsuk.$nhsuk-link-colour;

    &:hover {
      color: nhsuk.$nhsuk-link-hover-colour;
    }

    &:visited {
      color: nhsuk.$nhsuk-link-visited-colour;
    }
  }
}

code {
  display: inline-block;
  padding: 0.6rem;
  background-color: nhsuk.$nhsuk-template-background-colour;
}

pre {
  margin-bottom: 1.5rem;
  white-space: pre-wrap;
}

.nhsuk-details__text > code:last-child {
  margin-bottom: 0;
}

.notify-confirmation-panel {
  color: nhsuk.$nhsuk-reverse-text-colour;
  background-color: nhsuk.$nhsuk-success-colour;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
}

.inline-form {
  display: inline;
}

.nhsuk-header__service-logo:has(svg):not(:focus):hover::before {
  content: none;
  border: none; // remove the pseudo underline on the logo
}

.nhsuk-header__account-item {
  align-items: center;
}

.nhsuk-summary-list {
  background-color: nhsuk.$nhsuk-card-background-colour;
  border: solid 1px nhsuk.$nhsuk-border-colour;

  &__key {
    color: nhsuk.$nhsuk-secondary-text-colour;
    width: 20%;
    padding: 1rem;

    @media screen and (max-width: 768px) {
      width: auto;
    }
  }

  &__value {
    width: 80%;
    padding: 1rem;

    @media screen and (max-width: 768px) {
      width: auto;
    }

    ul {
      list-style: none;
      margin: 0;
    }
  }
}

.monospace-font {
  font-family:
    ui-monospace,
    menlo,
    Cascadia Mono,
    Segoe UI Mono,
    consolas,
    Liberation Mono,
    monospace;
  word-break: break-word;
}

.inline-block {
  display: inline-block;
}

a.nhsuk-link--no-visited-state {
  &:hover {
    color: nhsuk.$nhsuk-link-colour;

    &:visited {
      color: nhsuk.$nhsuk-link-colour;
    }
  }
}

.fit-content {
  width: fit-content;
}

.missing-value {
  background-color: nhsuk.$nhsuk-pale-yellow-colour;
  box-shadow: inset 0 0 0 3px nhsuk.$nhsuk-yellow-colour;
}
