.channel-template {
  &-outer {
    padding: 20px; // TODO: Check should these be standard spacings?
    margin-left: 60px;
    background-color: var(--nhsuk-card-background-colour);
    border: 1px solid var(--nhsuk-border-colour);
  }

  &-inner {
    padding: 20px;
    border: 2px solid var(--nhsuk-border-colour);
  }

  &:last-child::after {
    content: none;
  }

  &::after {
    content: '';
    height: calc(100% + 30px);
    display: block;
    border: dashed 2px var(--nhsuk-brand-colour);
    position: absolute;
    top: 40px;
    left: 18px;
  }

  &-link {
    &--remove {
      color: var(--nhsuk-error-colour);

      &:visited {
        color: var(--nhsuk-error-colour);
      }
    }
  }
}
