/*
* NHSUK Colours
* https://service-manual.nhs.uk/design-system/styles/colour
*/
$nhsuk-secondary-button-color: #4c6272;

.pagebreak {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;

  &__divider {
    flex-grow: 1;
    border-top: 1px solid $nhsuk-secondary-button-color;
  }

  &__text {
    padding: 0 10px;
    color: $nhsuk-secondary-button-color;
  }

  &__divider:first-child {
    margin-right: 10px;
  }

  &__divider:last-child {
    margin-left: 10px;
  }
}
