// TODO: CCM-12038 - variables

.nhs_notify_summary_list {
  .nhs_notify_summary_list__key,
  .nhs_notify_summary_list__value {
    padding: 20px;
  }

  .nhs_notify_summary_list__key {
    width: 20%;
    color: #4c6272;
  }
}
