.channel-template {
  &-actions {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-link {
    &--remove {
      color: var(--nhsuk-error-colour);
      background: none;
      border: none;
      padding: 0;
      font: inherit;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        text-decoration: none;

        &:visited {
          color: var(--nhsuk-error-colour);
        }
      }

      &:visited {
        color: var(--nhsuk-error-colour);
      }
    }
  }
}
