.header__content {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: #fff;
  }
}

.header__container {
  @media screen {
    display: flex;
    justify-content: space-between;
  }
  padding-bottom: 1em !important;
}
