.preview {
  &__content {
    word-wrap: anywhere;

    > :last-child {
      margin-bottom: 0;
    }
  }
}

.proofs {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
