.preview {
  &__content {
    word-wrap: anywhere;

    > :last-child {
      margin-bottom: 0;
    }
  }
}

.authoringLetterDetails {
  @media (min-width: 40.0625em) {
    :global(.nhsuk-summary-list__key) {
      width: 30%;
    }

    :global(.nhsuk-summary-list__actions) {
      width: 20%;
    }
  }
}

.missingValue {
  background-color: #fff9c4;
  box-shadow: inset 0 0 0 3px #ffeb3b;
}

.proofs {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
