.preview {
  &__content {
    word-wrap: anywhere;

    > :last-child {
      margin-bottom: 0;
    }
  }
}

.authoringLetterDetails {
  @media (min-width: 768px) {
    :global(.nhsuk-summary-list__key) {
      width: 30%;
    }

    :global(.nhsuk-summary-list__actions) {
      width: 20%;
    }
  }
}

.proofs {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
