.fallback-conditions-branch-icon {
  content: '';
  width: 40px;
  height: 40px;
  margin-right: 20px;
  padding-top: 5px;
  background-color: #f0f4f5;
  border: #005eb8 3px solid;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  float: left;
  position: relative;
  z-index: 999;
}
