.message-plan-block {
  border: solid 1px blue;
  margin-bottom: 70px;
  position: relative;
  list-style: none;

  &-number {
    width: 40px;
    height: 40px;
    padding-top: 5px;
    margin-right: 20px;
    background-color: #005eb8;
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    float: left;
  }

  &-outer {
    padding: 20px;
    margin-left: 60px;
    background-color: #ffffff;
    border: 1px solid #d8dde0;
  }

  &-inner {
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #d8dde0;
  }

  &:last-child::after {
    content: none;
  }

  &::after {
    content: '';
    height: calc(100% + 30px);
    display: block;
    border: dashed 2px #005eb8;
    position: absolute;
    top: 40px;
    left: 18px;
  }
}
