.table {
  background-color: var(--nhsuk-card-background-colour);
  border: 1px solid var(--nhsuk-border-colour);

  tr {
    border-bottom: 1px solid var(--nhsuk-border-colour);
  }

  th {
    width: 20%;
    color: var(--nhsuk-grey-1-colour);
  }

  th,
  td {
    padding: 1rem;
  }

  tr:hover {
    background-color: inherit;
  }
}
