.account__login {
  float: right;
  margin-left: 1em;
  margin-right: -16px;
  position: relative;
  z-index: 2;

  &_link {
    color: #fff;
    padding: 1em;

    // This is here because Amplify applies it's own font family
    font-family: Frutiger W01, Arial, Sans-serif !important;

    &:visited {
      color: #fff;
    }
  }
}
